{% extends 'fruits/base.html' %}

{% block title %}
削除
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr><td>No. ：</td><td>{{ object.no }}</td></tr>
            <tr><td>果物名：</td><td>{{ object.name }}</td></tr>
            <tr><td>メモ：</td><td>{{ object.memo }}</td></tr>
            <br/>
        </table>
        <br/>
        <br/>
        <button type="submit" class="submit delete btn btn-danger">削除</button>
    </form>
    <br/>
    <a href="{% url 'fruits:index' %}" class="btn btn-info">キャンセル</a>
{% endblock %}